<div class="m-panel-controls m-freedrawing-tools-panel">
    <div class="m-control m-comapactionseliminar-toolspanel tools-icon">
        <button id="eliminar" class="g-cartografia-papelera" title="Eliminar"></button>
    </div>
    <div class="m-control m-freedrawingtexto-toolspanel tools-icon">
        <button id="text" data-geometry-type="Point" class="g-cartografia-comentarios" title="Pintar Texto"></button>
    </div>
    <div class="m-control m-freedrawingpoligono-toolspanel tools-icon">
        <button id="polygon" data-geometry-type="Polygon" class="g-cartografia-poligono" title="Pintar poligono"></button>
    </div>
    <div class="m-control m-freedrawinglinea-toolspanel tools-icon">
        <button id="lineString" data-geometry-type="LineString" class="g-cartografia-lineas" title="Pintar linea"></button>
    </div>
    <div class="m-control m-freedrawingpunto-toolspanel tools-icon">
        <button id="point" data-geometry-type="Point" class="g-cartografia-gps3" title="Pintar punto"></button>
    </div>
    <div class="m-control tools-icon" title="Color">
        <div id="colorPicker">
            <a class="color">
                <div class="colorInner"></div>
            </a>
            <div id="idTrack" class="track"></div>
            <ul class="dropdown">
                <li></li>
            </ul>
            <input type="hidden" class="colorInput" value="#ffcc33" />
        </div>
    </div>
</div>